# API
MONGO_URI=mongodb://localhost:27017/monitor-ecommerce
MONGO_DB=monitor-ecommerce
API_PORT=3000

# Worker
WORKER_API_URL=http://localhost:3000/snapshots
WORKER_SOURCE_URL=https://books.toscrape.com
